@page
@model StarCleaningService_Identity.Pages.SearchToDoModel
@{
    //since DropDownLists aren't IEnumarable, cast is required
    var CategoryListItems = ViewData["DDListCat"] as IEnumerable<SelectListItem>;
    var PriorityListItems = ViewData["DDListPri"] as IEnumerable<SelectListItem>;
}
<h1>Search Services</h1>
<div class="col-md-6 col-sm-6">
    <img src="~/images/search-image.png" class="img-responsive" alt="" height="200" width="200">
</div>
<br />
<br />
<form method="post">
    <div class="form-group">
        <b><sup>*</sup>Category</b>
        <select asp-for="TodoCategory" asp-items="CategoryListItems" class="form-control">
            <option value="null">--Select category--</option>
        </select>
    </div>
    <div class="form-group">
        <b><sup>*</sup>Importance</b>
        <select asp-for="TodoPriority" asp-items="PriorityListItems" class="form-control">
            <option value="null">--Select importance--</option>
        </select>
    </div>
    <div class="form-group">
        <b><sup>*</sup>Search Task</b>
        <input type="text" asp-for="SearchString" class="form-control" />
        <span asp-validation-for="SearchString"></span>
    </div>
    <p><sup>*</sup>Required</p>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model.SearchResults != null)
{
    <hr />
    <h2>Results</h2>

    @if (Model.SearchResults.Any())
    {
        <br />
        <div class="row">
            @foreach (var item in Model.SearchResults)
            {
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Task)</h5>
                            <p class="card-text">Category: @Html.DisplayFor(modelItem => item.Category)</p>
                            <p class="card-text">Deadline: @Html.DisplayFor(modelItem => item.Deadline)</p>
                            <p class="card-text">Importance: @Html.DisplayFor(modelItem => item.Priority)</p>
                            <a href="#" class="btn btn-primary">Reservation</a>
                        </div>
                    </div>
                </div>

            }
        </div>
    }
    else
    {
        <h3 style="color:red;">No results found!</h3>
    }
    <br />
    <br />
    <br />
}